*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 10vh;
margin-top: 50px;
background-color: rgb(35, 34, 34);
}
.box
{
    position: relative;
    height: 420px;
    width: 380px;
    border-radius:8px;
    background-color: black;
    overflow: hidden;
}
.box::before
{
    position: absolute;
    content: ' ';
    margin: -50%;
    height: 420px;
    width: 380px;
    background:linear-gradient(0deg,transparent,transparent,
    #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after
{
    position: absolute;
    content: ' ';
    margin: -50%;
    height: 420px;
    width: 380px;
    background:linear-gradient(0deg,transparent,transparent,
    #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form
{
    position: absolute;
    inset: 5px;
    background: #0b0a0a;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2
{
    text-align: center;
color:white;
letter-spacing: 0.1px;
font-weight: 500rem;
}
.box form .inputbox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputbox input
{
    position: relative;
    width: 100%;
    padding: 10px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 1;
    /* overflow: hidden; */
}
.box form .inputbox span
{
    position: absolute;
    left: 0px;
    padding: 20px 10px 10px;
    color: rgb(186, 184, 184);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span
{
    color: rgb(23, 226, 9);
    font-size: 0.80em;
    transform: translateY(-40px);
}
.box form .inputbox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: aliceblue;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i
{
height: 40px;
}
.box form .link
{
    position: relative;
    display:flex; 
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box form .link a
{
    color: rgb(168, 171, 171);
    text-decoration: none;  
    font-weight: 500px;
}
.box form .submit
{
    position: relative;
    height: 40px;
    width: 120px;
    font-size: 20px;
    margin-left: 90px;
    margin-top:20px;
    border-radius: 10px;
    cursor: pointer;
}
.box form .submit:hover
{
    background-color: rgb(154, 151, 151);
    font-weight: 800;
    box-shadow: 5px solid black;
}
.borderbox
{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderbox::before
{
    position: absolute;
    content: " ";
    margin: -55%;
    /* margin-top: -80px; */
    /* left: -5%; */
    height: 420px;
    width: 380px;
    background:linear-gradient(0deg,transparent,transparent,
    red, red, red);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderbox::after
{
    position: absolute;
    content: " ";
    margin: -50%;
    height: 420px;
    width: 380px;
    background:linear-gradient(0deg,transparent,transparent,
    red, red, red);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
.box form .link :hover
{
    color: white;
}