*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
.All_div_decoration{
    margin-left: 15px;
    margin-right: 15px;
     border: 2px solid gray;
     border-radius: 10px;
     overflow: hidden;
      margin-top: 20px;
    gap: 50px;
}
.All_div_decoration form{
    margin: 20px;
}
.All_div_decoration h1{
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;
}

/* .All_div_decoration{
    margin-top: 20px;
    gap: 50px;
} */

.All_div_decoration .fill{
    height: 40px;
    width: 250px;
}

/* ---------------------------------Address Details--------------------- */
.address_input{
    height: 150px;
    width: 300px;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 1px gray;

}
.address_spd{
    height: 30px;
    width: auto;
}
