* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: rgb(124, 126, 151);
}

/* ----------------------------Navbaar section------------------------------------------------- */
.navbaar {
    margin-top: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(61, 117, 236);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 20PX;
    font-family: sans-serif;
    /* position: fixed;  */

}


.nav-1-itm {
    width: 50%;
    height: auto;
    padding-left: 15px;
    color: #4F1919;
    font-size: 25px;
    margin-left: 20PX;
}

.nav-2-itm {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;

}

@media (max-width:768px) {
    .nav-2-itm {
        display: none;
    }
}

.nav {
    font-size: 20px;
    color: #fff;
}

.nav-1-itm {
    width: 50%;
    height: auto;
    padding-left: 15px;
    color: #4F1919;
    font-size: 25px;
    margin-left: 20PX;
}

.nav-2-itm {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;

}

@media (max-width:768px) {
    .nav-2-itm {
        display: none;
    }
}

.nav {
    font-size: 20px;
    color: #fff;
}

.nav-1-itm {
    width: 50%;
    height: auto;
    padding-left: 15px;
    color: #4F1919;
    font-size: 25px;
    margin-left: 20PX;
}

.nav-2-itm {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;

}

@media (max-width:768px) {
    .nav-2-itm {
        display: none;
    }
}

.nav {
    font-size: 20px;
    color: #fff;
}


.nav2-1 {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 60px;

}

.nav2-2 {
    width: 20%;
    height: auto;
    margin-left: 50px;

}

.nav2-2 .imag {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.imag img {
    height: 100%;
    width: auto;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

/* <!------------------------------------- marquee direction -----------------------------------------> */

.text-slide {

    font-size: 2.2vw;
    margin-top: 20px;
    color: yellow;
    font-family: sans-serif;
}

/* <!------------------------------------- About cources and video  ---------------------------------------------> */

.course-video {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
}

.container {
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.abh {
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

.About {
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.co-Manage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 20px;

}

.ad-video {
    height: fit-content;
    width: 50%;
    padding-top: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-v {
    width: 100%;
    height: auto;

}

/* <!----------------------------------------------------footer path --------------------------------------------------> */
.footer {
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    flex-wrap: wrap;
    margin-top: 40px;
}

.text {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.footer-1 {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Contact {
    list-style: none;
    font-size: large;
    font-family: sans-serif;
    line-height: 5vh;
}

.footer1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* }  */
/* .author{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top: green;
    margin-left: 80%;
    background-image: url("footer.jpg"); 
} */
.gmail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: sans-serif;
    color: #fff;
    line-height: 5vh;
}

.gmail a {
    color: #fff;
}

.follow {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: large;
    font-family: sans-serif;
}

.fc {
    color: #fff;
    padding-bottom: 4vh;
    flex-wrap: wrap-reverse;
}




@media (max-width:796px) {

    /* .nav-1-itm{
    display: none;
   }
   .nav-2-itm{
    display: none;
   } */

    .text-slide {
        font-size: 15px;
    }

    .ad-video {
        width: 90%;
    }

    .container {
        height: fit-content;
        width: 100%;
        gap: 10px;
        align-items: center;
    }

    .About {
        height: 8vh;
        width: 350px;
    }

    .co-Manage {
        width: 100%;
        height: 100%;
        color: #fff;

        font-size: 20px;
        background: linear-gradient(190deg, #C86666, #6A0808, #EE8787)
    }

    .footer {
        display: grid;
    }

    .text {
        padding-top: 20px;
        font-size: 10px;

    }

    .footer-1 {
        margin-top: 10px;
        display: flex;
        font-size: 15px;
    }

    .Contact {
        list-style: none;
        font-size: 12px;
        line-height: 20px;
    }

    .footer1-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer1-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .gmail a {
        line-height: 15px;
    }

    .follow {
        font-size: 10px;
    }
}