/* General Reset */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
}

.prophoto {
    height: 30px;
    width: 30px;
    border: 3px solid red;
    border-radius: 50%;
    list-style: none;
}

.navbaar {
    width: 92%;
    background-color: rgba(61, 117, 236);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 80px;
    margin-left: 7px;
    font-family: sans-serif;
    z-index: 1;
    position: fixed;
}

.logo a {
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
}

.navitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
    padding-left: 20px;
}

.text-slide {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: -45px;
    color: yellow;
    font-family: sans-serif;
}

.container {
    border-radius: 10px;
    width: 350px;
    margin-left: 20px;
}

.About {
    display: grid;
    list-style: none;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -15px;
}

.co-Manage {
    background-color: aliceblue;
    height: 50px;
    padding-top: 15px;
    border-radius: 20px;
}

.footer {
    display: grid;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    padding: 20px 0; /* Unwanted space fix */
}

.text {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.Contact, .gmail {
    text-align: center; /* Center alignment for cleaner look */
    font-size: large;
    font-family: sans-serif;
    margin: 10px 0;
}

.follow {
    display: flex;
    justify-content: center;
    gap: 15px; /* Improved spacing */
    margin: 10px 0;
}

.imageslider {
    position: absolute;
    height: 400px;
    width: 650px;
    margin-left: 600px;
    margin-top: 190px;
    z-index: -1;
    overflow: hidden;
    border: 5px solid rgb(12, 224, 30);
    box-shadow: 8px 10px 10px black;
}

.imagess {
    position: absolute;
    display: flex;
    animation-name: changeimg;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imagess img {
    height: 400px;
    width: 700px;
}

@keyframes changeimg {
    20% { margin-left: -250px; }
    40% { margin-left: -250px; }
    60% { margin-left: -300px; }
    80% { margin-left: -600px; }
    100% { margin-left: -1200px; }
}
