*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container h1{
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin-top: 10px;
    border-radius: 10px;
}
.attribute{
    /* margin: 30px 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
     margin-top: 20px;
     row-gap: 30px;
}
#summary{
    height: auto;
    width: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    border-radius: 10px;
}

#summary:hover{
     transform:skew(3deg , 1deg);
}
#summary p{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    line-height: 25px;

}
#image{
     height: auto;
     width: 450px;
     display: flex;
     justify-content: center;
     align-items: center;
}
#image img{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#image img:hover{
   transform: scale(0.9);
}
.advantage{
    position: relative;
    margin-top: 50px;
}
.advantage h1{
    position: relative;
    display: flex;
    justify-content: center;
    /* padding-top: 30px; */
    background-color: rgb(135, 139, 138);
    border-radius: 10px;
}
#section{
    display: flex;
    flex-wrap: wrap;
}
#section .images{
    width: 50%;
    height: auto;
}
.advantage section{
    position: relative;
    display: flex;
    justify-content: space-around;
    /* align-items:; */
}
.images img{
    height: auto;
    width: 100%;
    margin-top: 30px;
}
/* .advantage section .adv {
    
} */
.adv{
    /* position: relative; */
    height: 400px;
    width: 600px;
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.advantage section .adv h3{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage section .adv form{
    position: relative;
    height: 250px;
    width: 200px;
    border: 5px solid rgb(241, 91, 22,0.5);
    box-shadow: 2px 3px 20px gray;
    line-height: 20px;
    padding: 10px;
    padding-top: 30px;
}
.advantage section .adv form input{
    height: 25px;
}
.advantage section .adv form span{
    font-size: medium;
}
.advantage section .adv form .btn{
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
    height: 25px;
    width: 60px;
}
.action{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    margin-top: 80px;
    padding-top: 25px;
    margin-bottom: 50px;
    border-top: 5px solid gray;
}
.action button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    font-family:sans-serif ;
    border-radius: 30px;
    border: none;
    /* box-shadow: 0px 1px 5px black; */
    /* background: linear-gradient(to right, rgb(70, 124, 241) 10%, rgb(143, 198, 214) 100%); */
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    background: transparent;
}
.action button::before{
    content: " ";
    position: absolute;
    top: 0;left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg ,rgb(27, 25, 25),rgb(131, 162, 230),rgb(21, 2, 65));
    transition: 0.6s;
    z-index: -1;
}
.action button:hover::before{
    left: 0;
}
.action button:hover{
    color: #000;
}





.footer {
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    flex-wrap: wrap;
    margin-top: 40px;
}

.text {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.footer-1 {
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Contact {
    list-style: none;
    font-size: large;
    font-family: sans-serif;
    line-height: 5vh;
}

.footer1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1-3{ 
 display: flex;
 justify-content: center;
 align-items: center;
}

/* }  */
/* .author{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top: green;
    margin-left: 80%;
    background-image: url("footer.jpg"); 
} */
.gmail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: sans-serif;
    color: #fff;
    line-height: 5vh;
}

.gmail a {
    color: #fff;
}

.follow {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: large;
    font-family: sans-serif;
}

.fc {
    color: #fff;
    padding-bottom: 4vh;
    flex-wrap: wrap-reverse;
}

@media (max-width:480px) {
    .attribute{
    justify-content: center;
    }
    #summary{
    width: 90%;
    }
    #image{
     width: 90%;
    }
    .advantage h1{
    align-items: center;
    font-size: 25px;
    height: 40px;
    }
    #section .images{
    width: 80%;
    }
    .advantage section .adv h3{
    padding: 15px;
    }
    .advantage section .adv form{
    width: 220px;
    }
    .footer-1 {
    margin-top: 10px;
    display: flex;
    font-size: 15px;
}

.Contact {
    list-style: none;
    font-size: 12px;
    line-height: 20px;
}

.footer1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1-3{ 
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 12px;
}

.gmail a {
    line-height: 15px;
}

.follow {
    font-size: 10px;
}
}
